
body {
background-color: #CDD93F;
background-image: url(img.png);
padding: 25px;
background-repeat: no-repeat;
background-size: 700px 720px;
/* border: 2px solid black; */
color: rgb(8, 12, 11);
font-family: 'Chilanka', cursive;

/* font-family: cursive; */
/* font-family: system-ui; */
/* font-family: "Monaco, Times New Roman", Times, serif; */
/* font-family: "Lucida Console", "Courier New", monospace; */

	}
	#checkbox{
		height: 1em;
		padding: 5em;
		size: 15%;
	}
	
	.imgages{
		height: 5px;
		width: 1px;
	}
	.container {
	width: 560px;
	margin: auto;
	text-align: center;
	padding-top: 70px;
	margin-right: 250px;
	}
	
	.message{
	margin-top: 1em;
	}
	h1{
	margin-bottom: 2px;
	}
		
	   .myResults{
		padding-top: 50px;
		padding-left: 720px;
		text-transform: capitalize;
		/* text-align: center; */
	   }
	 



	.rangeslider{
		width: 50%;
		margin-left: 120px;
	}
	  
	.myslider {
		-webkit-appearance: none;
		background: #FCF3CF  ;
		width: 50%;
		height: 20px;
		opacity: 2;
	   }
	  
	  
	.myslider::-webkit-slider-thumb {
		-webkit-appearance: none;
		cursor: pointer;
		background: #1692a8  ;
		width: 5%;
		height: 20px;
	}
	  
	  
	.myslider:hover {
		opacity: 1;
	}
	  